<template>
<div class="container-fluid">
    <div class="row" style="justify-content:space-between">
        <div class="col-lg-4" >
            <img src="apparats.png" style="max-width: 100%"/>
        </div>
        <div class="col-lg-4 align-items-end" >
            <div class="row">
                <div class="col-lg-6" >
                    <div style="line-height: 90%;">
                        <p class="phone" style="text-align:end">8(776) 616 22 11</p>
                        <p class="phone" style="text-align:end">8(7262) 55 80 22</p>
                    </div>
                </div>
                <div class="col-lg-6" style="margin:5px 0;">
                    <button type="button" @click="call" style="margin: 5px 0;border-style: none;background-color:#3618AF;color:white;padding:10px">Заказать звонок</button>
                </div>
            </div>
        </div>
    </div>
    <nav class="navbar navbar-expand-lg navbar-light" style="margin-top:10px;border-top:1px solid #3618AF;border-bottom:1px solid #3618AF">

  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active" >
        <router-link :to="{name:'main'}"> <a class="nav-link blue-color font-nav" href="javacscript:void(0)">Главная <span class="sr-only">(current)</span></a></router-link>
      </li>
      <li class="nav-item">
       <router-link :to="{name:'accessory'}"> <a class="nav-link blue-color font-nav" href="javacscript:void(0)" >Аксессуары</a></router-link>
      </li>
      <li class="nav-item">
         <router-link :to="{name:'uslugi'}"> <a class="nav-link blue-color font-nav" href="javacscript:void(0)">Услуги</a></router-link>
      </li>
      <li class="nav-item">
        <a class="nav-link blue-color font-nav" href="#">Слуховые аппараты</a>
      </li>
      <li class="nav-item">
      <router-link :to="{name:'states'}">  <a class="nav-link blue-color font-nav" href="javacscript:void(0)">Статьи</a></router-link>
      </li>
      <li class="nav-item">
       <router-link :to="{name:'contacts'}">  <a class="nav-link blue-color font-nav" href="javacscript:void(0)">Контакты</a></router-link>
      </li>


      
    </ul>
  </div>
</nav>


</div>

</template>
<script>
import Modal from '../components/modals/mainPageModal'
export default{
  methods:{
    call(){
      this.$modal.show(Modal,{
         text: 'This text is passed as a property'
      }, {
        adaptive:true,
       
      })
    }
  }
}
</script>
<style scoped>
@media screen and (max-width: 1024px) {
  .phone {
    text-align:start !important;
    
  }
  
}
@media screen and (max-width: 1024px) {
  img {
    width:50% !important;

  }
}
.phone{
    color:#3618AF;
    margin: 10px 0;
}
.navbar-nav,
.mr-auto {
flex: 1;
margin: auto !important;
display: flex;
justify-content: space-between;
}
.blue-color{
  color:#3618AF !important;
}
.font-nav{
  font-size:20px;
}
</style>